/* RESPONSIVE */
@media (max-width: 768px) {
.hero h1 { font-size: 34px; }
.about-desc p { font-size: 1.1rem; }
.godparents .section-title::before, .godparents .section-title::after { width: 80px; }
.godparents .section-title::before { left: -70px; background: linear-gradient(to right, transparent, #2c3e50);}
.godparents .section-title::after { right: -70px; background: linear-gradient(to left, transparent, #2c3e50); }
}
@media (max-width: 426px) {
.section-title::before, .section-title::after { width: 90px; }
.section-title::before { left: -85px; background: linear-gradient(to right, transparent, #2c3e50);}
.section-title::after { right: -85px; background: linear-gradient(to left, transparent, #2c3e50); }
.bg-fixed { background-size: cover; background-position: left; }
}
@media (max-width: 400px) {
.godparents .section-title::before, .godparents .section-title::after { width: 55px; }
.godparents .section-title::before { left: -50px; background: linear-gradient(to right, transparent, #2c3e50);}
.godparents .section-title::after { right: -50px; background: linear-gradient(to left, transparent, #2c3e50); }
}
@media (max-width: 374px) {
.flipdown .rotor-group:nth-child(4) { display: none; }
.flipdown .rotor-group:nth-child(3)::after,   .flipdown .rotor-group:nth-child(3)::before { display: none; }
.flipdown { width: 230px; }
.flipdown .rotor-group:nth-child(3) { padding: 0; }
}



@media (min-width: 768px){
    .envelope{ width: 1000px; height: 350px;}
    .letter { top: 45px; padding-top: 115px; }
    .letter h2 { font-size: 3rem; }
    .letter p { font-size: 1rem; }
    .seal { left: calc(52% - 28px); bottom: 200px;}
}

@media (min-width: 992px){
    .envelope { height: 450px; }
    .letter { top: 65px; padding-top: 140px; }
    .letter h2 { font-size: 3rem; }
    .letter p { font-size: 1rem; }
    .seal { left: calc(52% - 34px); bottom: 260px;}
}