@font-face {
  font-family: 'PlayFairItalic';
  font-weight: 800;
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic-VariableFont_wght.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PlayFairItalic1';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-MediumItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Cairo-regular';
  font-weight: 100;
  src: url('../fonts/Cairo/Cairo-Regular.woff2') format('woff2');
  font-display: swap;
}

h2 { font-family: 'PlayFairItalic1'; }
p, h3{ font-family: 'Cairo-regular'; }
body { font-family: 'Cairo-regular'; margin: 0; padding: 0; }
.bg-fixed { position: fixed; top: 0; left: 0; width: 100%; height: 100%; padding-bottom: env(safe-area-inset-bottom); padding-top: env(safe-area-inset-top); background-image: url(../assets/img/desktop-bg.png); z-index: 0; inset: 0; background-position: 50% 70%; background-repeat: no-repeat; background-size: cover;  }
#map { height: 480px; width: 100%; }
#map .pin-text { width: max-content; background: rgba(42, 129, 203, 0.9); padding: 2px; font-size: .6rem; font-family: 'Cairo-regular'; }


.details-section .event-title { background:rgba(108,147,199,0.8); border-top-left-radius:20px; border-top-right-radius:20px ; backdrop-filter: blur(15px); -webkit-backdrop-filter: blur(15px); box-shadow: 0 8px 32px rgba(0,0,0,0.1); }
.details-section .glass-1 { border-bottom-left-radius:20px ; border-bottom-right-radius:20px ; }

/* GLASS CARD */
.glass-1 { position: relative; display: flex; flex-direction: column; overflow: hidden; box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);}
/* .glass { background: rgba(255, 255, 255, 0.25); border-radius: 20px; backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); border: 1px solid rgba(255,255,255,0.5); box-shadow: 0 8px 32px rgba(0,0,0,0.5); } */
.glass { position: relative; display: flex; flex-direction: column; overflow: hidden; box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1); will-change: transform; border-radius: 20px;}
.content-hero { z-index: 3; }
.liquidGlass-effect { position: absolute; z-index: 0; inset: 0; backdrop-filter: blur(3px); filter: url(#glass-distortion); overflow: hidden; isolation: isolate; }
.liquidGlass-tint { z-index: 1; position: absolute; inset: 0; background: rgba(255, 255, 255, 0.15); }
.liquidGlass-shine { position: absolute; inset: 0; z-index: 2; overflow: hidden; box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5), inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5); }
.glass .line-design{ position: relative; display: inline-block; font-size: 1.5rem; color: #2c3e50; text-align: center; padding: 0 1rem; }
.glass .line-design::before, .glass .line-design::after { content: ""; position: absolute; top: 50%; width: 80px; height: 2px; background-color: #2c3e50; }
.glass .line-design::before { left: -75px; background: linear-gradient(to right, transparent, #2c3e50);}
.glass .line-design::after { right: -75px; background: linear-gradient(to left, transparent, #2c3e50); }

.section-title{ position: relative; display: inline-block; font-size: 1.5rem; color: #2c3e50; text-align: center; padding: 0 1rem; }
.section-title::before, .section-title::after { content: ""; position: absolute; top: 50%; width: 150px; height: 2px; background-color: #2c3e50; }
.section-title::before { left: -140px; background: linear-gradient(to right, transparent, #2c3e50);}
.section-title::after { right: -140px; background: linear-gradient(to left, transparent, #2c3e50); }

/* HERO */
.hero { padding: 80px 20px; text-align: center; }
.hero h1 { font-family: 'PlayFairItalic'; font-size: 48px; color: #4a6fa5; }
.hero p { font-size: 1.5rem; font-family: 'PlayFairItalic1'; }
.about-desc p{ font-family: 'PlayFairItalic1'; font-size: 1.2rem; margin-bottom: .5rem; }

/* BUTTON */
.btn-glass { background: rgba(108,147,199,0.8); border: none; color: #fff; padding: 12px 28px; border-radius: 50px; transition: 0.3s; font-family: 'Cairo-regular'; }
.btn-glass:hover { background: #4a6fa5; transform: translateY(-2px); }

/* BABY IMAGE */
.baby-img { background-size: cover; background-repeat: no-repeat; background-position: 75%; background-image: url('../assets/img/zion.jpg'); width: 200px; height: 200px; margin-top: 20px; border-radius: 50%; border: 5px solid rgba(255,255,255,0.6); object-fit: cover; }

/* SECTION */
.section { padding: 60px 20px; }

.section-title { font-weight: 600; color: #4a6fa5; margin-bottom: 25px; }

/* CARDS */
.card-glass { padding: 20px; text-align: center; transition: 0.3s; }
.card-effect:hover {transform: translateY(-5px); }
.card-effect { transition: .3s; }

/* GALLERY */
.gallery img { border-radius: 15px; transition: 0.3s; aspect-ratio:19/30; object-fit: cover;}
.gallery .owl-carousel .owl-stage-outer { border-radius: 15px; }

/* COUNTDOWN */
.countdown { display: flex; justify-content: space-around; text-align: center; }
.count-box { padding: 15px; border-radius: 15px; width: 80px; }

.godparents p { font-size: 1rem; font-weight: 600; }

.owl-theme .owl-dots .owl-dot span { background: #4A4947!important; width: 10px!important; height: 10px!important; margin: 5px 3px!important;}
.owl-theme .owl-dots .owl-dot.active span { background: #B17457!important; }


/* Envelope */
#envelope-screen { position: fixed; width: 100%; height: 100%; overflow: hidden; background-size: 400% 400%; animation: gradientMove 5s ease infinite; background: linear-gradient(-45deg, #faf7f2, #f5efe6, #f8f1e7); display: flex; justify-content: center; align-items: center; z-index: 9999; }
.envelope-wrapper {text-align: center; width: max-content;}
.envelope { position: relative; width: 1000px; height: 300px; background: #d4b49991; border-radius: 6px; box-shadow: 0 10px 30px rgba(0,0,0,0.1); cursor: pointer; overflow: hidden; }
.flap { position: absolute; width: 100%; height: 100%; background: #D4B499; clip-path: polygon(0 0, 100% 0, 50% 40%); transform-origin: top; transition: transform 0.6s ease; z-index: 3; }
.letter { position: absolute; width: 90%; height: 80%; background: url('../assets/img/desktop-bg.png'); background-position: center;  background-size: cover; background-repeat: no-repeat; top: 40px; left: 5%; border-radius: 4px; text-align: center; padding-top: 110px; box-shadow: 0 5px 15px rgba(0,0,0,0.08); transition: transform 0.8s ease; z-index: 1; }
.letter h2 { margin: 0; font-size: 2rem; color: #8b6f47; }
.letter p { font-size: 1rem; color: #999; }
.seal { position: absolute; width: 30px; height: 30px; background: #889EAF; border-radius: 50%; bottom: 170px; left: calc(53% - 27px); z-index: 4; box-shadow: 0 0 10px rgba(0,0,0,0.2); }
.envelope.open .flap { transform: rotateX(180deg); }
.envelope.open .letter { transform: translateY(-140px); }
#main-content { opacity: 0; transition: opacity 1s ease; }
#main-content.show { opacity: 1; }

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}